---
import Layout from "layouts/Layout.astro";
import { Image } from "astro:assets";

import { toNormalCase } from "~/utils";

import { getEntry, getCollection } from "astro:content";
const { slug } = Astro.params;

const entry = await getEntry("blog", slug!);

const { Content } = await entry.render();
const { data } = entry;

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

import "~/styles/blog.scss";
---

<Layout
  title={data.title}
  image={`/blog/${slug}.${data.heroImage.format}`}
  slug={`blog/${entry.slug}`}
  description={data.description}
>
  <article class="p-3 md:px-[10rem] px-10">
    <figure>
      <Image
        class="thumbnail"
        src={data.heroImage}
        alt={data.title}
        transition:name={slug}
        width={1920}
        height={1080}
      />
    </figure>

    <div class="mt-10 md:text-xl">
      📅
      <strong>
        <time datetime={data.pubDate}>
          {
            new Date(data.pubDate).toLocaleDateString("en-in", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        | Category: <a href={`/category/${data.category.toLowerCase()}`}
          >{toNormalCase(data.category)}</a
        >
      </strong>
    </div>

    <h1 class="title">{data.title}</h1>

    <hr class="my-10" />

    <Content />
  </article>
</Layout>
