---
import Layout from "layouts/Layout.astro";
import { Picture } from "astro:assets";

import { toNormalCase } from "~/utils";

import { getEntry } from "astro:content";
const { slug } = Astro.params;

const entry = await getEntry("blog", slug!);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
const { data } = entry;

import "~/styles/blog.scss";
---

<Layout title={data.title} image={`/blog/${data.heroImage}`}>
  <article class="p-3 md:px-[10rem] px-10">
    <figure>
      <Picture
        class="thumbnail"
        src={`/blog/${data.heroImage}`}
        alt={data.title}
        transition:name={slug}
        formats={["avif", "webp"]}
        width={700}
        height={700}
      />
    </figure>

    <div class="mt-10 md:text-xl">
      📅
      <strong>
        <time datetime={data.pubDate}>
          {
            new Date(data.pubDate).toLocaleDateString("en-in", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        | Category: <a href={`/category/${data.category.toLowerCase()}`}
          >{toNormalCase(data.category)}</a
        >
      </strong>
    </div>

    <h1 class="title">{data.title}</h1>

    <hr class="my-10" />

    <Content />
  </article>
</Layout>
