---
export interface Props {
  title: string;
  image: string;
  url: string;
  badges: string[];
  desc: string;
  isClient: boolean;
}

const { isClient, title, image, badges, url, desc } = Astro.props;
---

<div class="card w-96 bg-teal-950 shadow-xl">
  <figure>
    <img src={image} alt="Shoes" />
  </figure>
  <div class="card-body">
    <h3 class="card-title">
      <a href={url} class="underline hover:no-underline" target="_blank">
        {title}
      </a>
      <div class="badge badge-success">
        {isClient ? "Client Project" : "Personal Project"}
      </div>
    </h3>

    <p>
      <Fragment set:html={desc} />
    </p>

    <div class="card-actions justify-start mt-5">
      {badges.map((badge) => <div class="badge badge-outline">{badge}</div>)}
    </div>
  </div>
</div>
