---
import { Picture } from "astro:assets";

// export interface Props {
//   title: string;
//   image: string;
//   url: string;
//   badges: string[];
//   desc: string;
//   isClient: boolean;
// }

export interface Props {
  project: {
    id: string;
    data: {
      title: string;
      image: ImageMetadata;
      url: string;
      badges: string[];
      isClient: boolean;
    };
  };
}

const { project } = Astro.props;

const { title, image, url, badges, isClient } = project.data;
---

<div class="card bg-teal-900 shadow-xl">
  <figure>
    <!-- <img src={image} alt={title} /> -->

    <!-- <Image src={image} alt={title} width={700} height={700} format="webp" /> -->
    <Picture
      src={image}
      alt={title}
      formats={["avif", "webp"]}
      width={700}
      height={700}
    />
  </figure>
  <div class="card-body">
    <h3 class="card-title">
      <a href={url} class="underline hover:no-underline" target="_blank">
        {title}
      </a>
      <div class="badge badge-success">
        {isClient ? "Client" : "Personal"}
      </div>
    </h3>

    <p class="flex justify-center place-content-center">sexy times</p>

    <div class="card-actions justify-start mt-5">
      {badges.map((badge) => <div class="badge badge-outline">{badge}</div>)}
    </div>
  </div>
</div>
