---
export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import socials from "../data/socials";

import Socials from "../components/Socials.astro";
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Contact from "../sections/Contact.astro";

import { SITE_TITLE, SITE_DESC, SITE_IMG } from "../config";
import { ViewTransitions } from "astro:transitions";
const { image, title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
      description={description ? description : SITE_DESC}
      image={image ? image : SITE_IMG}
    />
    <ViewTransitions transition:animate="slide" />
  </head>

  <body class="bg-gradient-to-br to-[#041e1a] from-[#12312c] overflow-x-hidden">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5BS64GBM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <header aria-labelledby="navbar-heading">
      <!-- Navbar starts -->
      <div class="navbar bg-teal-800/50 backdrop-blur-lg">
        <div class="navbar-start">
          <a class="flex" href="/">
            <Logo />
            <p class="text-xl ubuntu capitalize btn btn-ghost font-bold">
              Anindo Neel Dutta
            </p>
          </a>
        </div>
      </div>
    </header>
    <!-- Navbar ends -->

    <main>
      <slot />
      <Contact />
    </main>

    <footer
      aria-labelledby="footer"
      class="mt-10 bg-teal-800/50 footer p-10 text-neutral-content"
    >
      <div>
        <Logo />
        <p class="text-white">
          Made with 💙 by <span class="font-bold">Anindo Neel Dutta</span>
        </p>
      </div>
      <div>
        <span class="text-white font-bold">Socials</span>
        <div>
          <ul class="flex gap-3 text-white text-3xl">
            {
              socials.map((social) => (
                <Socials
                  link={social.link}
                  icon={social.icon}
                  name={social.name}
                />
              ))
            }
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
