---
export interface Props {
  title?: string;
  description?: string;
  image?: string;
  slug: string;
}

import socials from "~/data/socials";

import Socials from "~/components/Socials.astro";
import BaseHead from "~/components/BaseHead.astro";
import Logo from "~/components/Logo.astro";
import Contact from "~/sections/Contact.astro";

import { SITE_TITLE, SITE_DESC, SITE_IMG, SITE_URL } from "../config";
import { ViewTransitions } from "astro:transitions";
const { image, title, description, slug } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
      description={description ? description : SITE_DESC}
      image={image ? image : SITE_IMG}
      canonical={SITE_URL + slug}
    />
    <ViewTransitions transition:animate="slide" />
  </head>

  <body class="bg-gradient-to-br to-[#041e1a] from-[#12312c] overflow-x-hidden">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T77FW3FM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <header aria-labelledby="navbar-heading">
      <!-- Navbar starts -->
      <div class="navbar bg-teal-800/50 backdrop-blur-lg">
        <div class="navbar-start">
          <a class="flex" href="/">
            <Logo />
            <p class="text-xl ubuntu capitalize btn btn-ghost font-bold">
              Anindo Neel Dutta
            </p>
          </a>
        </div>

        <div class="navbar-end">
          <a href="/blog" class="mr-10 btn btn-ghost normal-case">
            <div class="indicator relative">
              <span
                class="w-[10px] h-[10px] absolute top-[-5px] right-[-10px] bg-primary animate-ping"
                style="border-radius: 50%;"></span>
              Blog
            </div>
          </a>
        </div>
      </div>
    </header>
    <!-- Navbar ends -->

    <main>
      <slot />
      <Contact />
    </main>

    <footer
      aria-labelledby="footer"
      class="mt-10 footer md:px-[10rem] p-10 place-items-stretch text-neutral-content"
    >
      <div>
        <Logo />
        <p class="text-white">
          Made with 💙 by <span class="font-bold">Anindo Neel Dutta</span>
        </p>
      </div>
      <div>
        <div class="flex justify-end md:w-full">
          <div class="md:text-right">
            <span class="text-white font-bold">Socials</span>
            <ul class="flex gap-3 text-white text-3xl">
              {
                socials.map((social) => (
                  <Socials
                    link={social.link}
                    icon={social.icon}
                    name={social.name}
                  />
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
